<h1>
  Movie #<%= @film_num %> details
</h1>

<a href="/movies">
  Go back
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @film_name %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @film_year %>    
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @film_duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @film_description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @film_image %>" style="width:250px;">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <%= @dir_name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @film_created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @film_updated_at %>
  </dd>
</dl>

<hr>
